* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
    flex-direction: row;
	height: 100vh;
    background-color: hsl(257, 40%, 49%);
    background-image: url('/images/bg-desktop.svg');
}


.left-side {
    width: 50%;
}
.right-side {
    width: 50%;
}

footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}