* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	padding: 4rem;
	height: 100vh;
	background-color: hsl(257, 40%, 49%);
	background-image: url('/images/bg-desktop.svg');
}

.left-side {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.right-side {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 34rem;
	padding: 4rem;
	color: white;
}

.logo-icon {
	width: 14rem;
}

.mockup-template {
	width: 40rem;
}

h1 {
	margin-bottom: 1rem;
	font-family: 'Poppins', sans-serif;
}

.description {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.7);
}

.btn {
	width: 9rem;
	height: 2.5rem;
	border-radius: 1.4rem;
	border: none;
	margin-right: auto;
	margin-top: 1.2rem;
	color: hsl(257, 40%, 49%);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	cursor: pointer;
	box-shadow: 0px 13px 37px -5px rgba(66, 68, 90, 1);
    transition: color 0.3s, background-color 0.3s ;
}

.icons {

	position: absolute;
    display: flex;
    justify-content: space-between;
    width: 8rem;
	bottom: 4rem;
	right: 4rem;
}



.fa-brands {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33px;
	height: 33px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 50%;
	cursor: pointer;
	transition:  color 0.3s, border 0.3s;
    cursor: pointer;
}

.fa-brands:hover {
	color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}

.btn:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

footer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}


@media (max-width: 375px){
    body {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }



    .left-side {
        height: 50%;
       
    }

    .mockup-template{
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-icon {
        width: 9rem;
        
    }

    .right-side {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        padding: 0;
        
    }
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    .description {
        text-align: center;
        font-size: 1.1rem;
    }
    .btn {
        width: 13rem;
        margin-right: auto;
        margin-left: auto;
    }

    
}